{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<script>
    var map = null;
    var marker = null;

    var infowindow = new google.maps.InfoWindow({ 
      size: new google.maps.Size(150,50)
    });

    // A function to create the marker and set up the event window function 
    function createMarker(latlng, name, html) {
        var contentString = html;
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            zIndex: Math.round(latlng.lat()*-100000)<<5
        });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(contentString); 
            infowindow.open(map,marker);
            });
        google.maps.event.trigger(marker, 'click');    
        return marker;
    }

 

    function initialize() {
        var myOptions = {
          zoom: 4,
          center: new google.maps.LatLng(-25.363882,131.044922),
          mapTypeControl: true,
          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
          navigationControl: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
     
        google.maps.event.addListener(map, 'click', function() {
            infowindow.close();
        });

        google.maps.event.addListener(map, 'click', function(event) {
            //call function to create marker
            if (marker) {
                marker.setMap(null);
                marker = null;
            }
          marker = createMarker(event.latLng, "name", "<b>Location</b><br>"+event.latLng);
        });

    }
    
    google.maps.event.addDomListener(window, 'load', initialize);

  
    $(document).ready(function(){
        $("#add_address").click(function() {
            $("#address").show(250);
            $('#map').hide();
        });
        $('#confirm_address').click(function() {
            $('#address').hide();
            if ($('#enter_address').val() == '') return;
            $("#addresses_panel").append('<div class="row">'+
                '<div class="col-xs-12">'+
                  '<div class="alert alert-info alert-dismissable">'+
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                    '<strong>' + $("#enter_address").val() + '</strong>' +
                    '<input name="address[]" type="hidden" value="' + $("#enter_address").val() + '">' +
                  '</div> '+
                '</div>'+
              '</div>');
            $("#submit").show();
        });
        $("#place_on_map").click(function() {
            $('#map').show(250);
            setTimeout(function(){$(window).resize();}, 300 );
            $('#address').hide(); 
        });

        $('#confirm_map').click(function() {
            $('#map').hide();
            var lat = marker.getPosition().lat();
            var lng = marker.getPosition().lng();
            if (lat == '' || lng == '') return;
            $("#addresses_panel").append('<div class="row">'+
                '<div class="col-xs-12">'+
                  '<div class="alert alert-info alert-dismissable">'+
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                    '<strong>' + lat + ',' + lng + '</strong>' +
                    '<input name="address[]" type="hidden" value="' + lat + ',' + lng + '">' +
                  '</div> '+
                '</div>'+
              '</div>');
            $("#submit").show();
        });

    });
    </script>

<div id="buttons" class="centerize">
    <a class="btn-primary btn" id="place_on_map">Place on map</a>
    <a class="btn-primary btn" id="add_address">Enter address</a>
</div>

<div id="address" class="centerize" style="display:none;">
  <input type="text" id="enter_address" placeholder="Enter an address">
  <a class="btn btn-primary" id="confirm_address">Confirm</a>
</div>      

<div id="map" class="centerize" style="display:none;">
  <div id="map-canvas" style="width: 550px; height: 450px" style="float: center"></div>
  <a class="btn btn-primary" id="confirm_map">Confirm</a>
</div>
<form method="post" action="/">
  <div id="addresses_panel"></div>
  <input class="btn btn-primary" type="submit" id="submit" value="Submit"  style="display:none;">
</form>

<div class="row">
  <div class="col-md-6">.col-md-6</div><!-- //map goes here -->
  <div class="col-md-6">.col-md-6</div><!-- ranked list goes here -->
</div>

{% endblock %}