<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polygon</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
    // This example creates a simple polygon representing the Bermuda Triangle.

    function initialize() {
        var mapOptions = {
            zoom: {{ zoom }},
            center: new google.maps.LatLng({{ centroid[0] }}, {{ centroid[1] }}),
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };

        var polygon;

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Define the LatLng coordinates for the polygon's path.
        var points = [];

        {% for coord in coords %}
            var lat = {{ coord[0] }};
            var lng = {{ coord[1] }};
            points.push(new google.maps.LatLng(lat, lng));
        {% endfor %}

        // Construct the polygon.
        polygon = new google.maps.Polygon({
            paths: points,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35
        });

        polygon.setMap(map);

        var markers = [];

        {% for location in locations %}
            var lat = {{ location["geometry"]["location"]["lat"] }};
            var lng = {{ location["geometry"]["location"]["lng"] }};
            var contentString = '<div class="content">' +
                                '<h2>{{ location["details"]["form"] }}</h2>' +
                                '<p>{{ location["details"]["formatted_address"] }}</p>' +
                                '<p>{{ location["details"]["formatted_phone_number"] }}</p>';
            {% if "opening_hours" in location["details"] %}
                contentString += '<ul>'
                {% for day in location["details"]["opening_hours"]["weekday_text"] %}
                    contentString += "<li>{{ day }}</li>";
                {% endfor %}
                contentString += '</ul>'
            {% endif %}
            contentString += '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var title = '{{ location["details"]["name"] }}';
            markers.push([contentString, lat, lng, title]);

        {% endfor %}

        for (i = 0; i < markers.length; i++) {  
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(markers[i][1], markers[i][2]),
                map: map,
                title: markers[i][3]
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(markers[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
</head>
<body>
    <div id="map-canvas"></div>
</body>
</html>